.main 
  .header
    .home-portfolio
      .portfolio 
        Portfolio
  .footer
    .footer-list
      %ul
        %li.home 
          home 
        %li.application
          application
        %li.team-development
          Team development
        %li.profile
          profile