#home
.home-main 
  .header
    .home-portfolio
      .portfolio 
        Portfolio
  .footer
    .footer-list
      %ul
        %li.home
          %a{href: "#home", class: "home2"} Home 
        %li.application-text
          %a{href: "#application-text", class: "application-text2"} Application
        %li.team-development-text
          %a{href: "#team-development-text", class: "team-development-text2"} Team development
        %li.profile-text
          %a{href: "#profile-text", class: "profile-text2"} Profile
#application-text
.application
  .application-main
    .circle
      .a-circle
        .a-font
          A
      .p-circle
        .p-font
          p
      .p-circle2
        .p-font2
          p
      .l-circle
        .l-font
          l
      .i-circle
        .i-font
          i
      .c-circle
        .c-font
          c
      .a-circle2
        .a-font2
          a
      .t-circle
        .t-font
          t
      .i-circle2 
        .i-font2
          i
      .o-circle
        .o-font
          o
      .n-circle
        .n-font
          n
    .app-description
      アプリの説明
    %ul
    %li.app-description-text
      チャットが出来るようなツイートアプリを作成しました。
    %li.app-description-text2
      ログイン、ログアウトを作成するためにdeviseを用い、投稿機能、送信機能、編集機能、削除機能、コメント機能を実装しました。
    .ingenuity
      工夫した点
    %ul
    %li.ingenuity-text
      クラス名が被らないようにhamlファイル名をクラス名の前につけました。
    .struggle
      苦労した点
    %ul
    %li.struggle-text
      コメント機能を実装した際に、1つの返信に対してのコメントしか見ていなかったため、
      %br
        他の機能を実装している時に、どのツイートの返信に対しても同じ返信がされていたことに気づいたので、
        %br
          気をつけないといけないと思いました。
#team-development-text
.team-development
  .team-development-main
    .triangle
    .team-development-font
      チーム開発
    .mercari
      6人のチームで開発し、フリーマーケットアプリケーションである
      %br 「メルカリ」のコピーサイトを作成しました。
    .mercari-ingenuity
      工夫を行った点
    %ul
    %li.mercari-ingenuity-text
      いつまでに終わらせる等、期限を決めて実装を行いました。例えば、
      %br Trelloによるタスク管理をしていたため、自分が実装するタスクに期限を記入しました。
    .mercari-struggle
      苦労した点
    %ul
    %li.mercari-struggle-text
      開発中に分からない点が発生した際に、チーム開発にてチームメンバーに伝えやすくするには
      %br 
        どうすれば良いか？を考えていました。その時は上手く相手に伝えることが出来ずに、考え込んでいました。
        %br 
          チーム開発が終了し、ここから個人としてアプリ等を作って行きます。開発中で分からない箇所が
          %br 
            出てきた際には、どこが分からないのか整理をして言語化出来るようにして行きたいと考えています。
            %br 
              また、質問時に相手に伝わるように考え、今回の課題を改善に繋げていきます。
    .content
      .content-font
        作成内容
      .id-pass
        ID: admin
        %br Pass: 2222
      .test-account
        テスト用アカウント
      .buyer
        購入者用
      %ul
      %li.buyer-mail
        メールアドレス：tanaka@gmail.com
      %li.password
        パスワード：tanaka123
      %li.number
        番号：4242424242424242
      %li.deadline
        期限：2021年/04月
      %li.user-name
        ユーザー名：タナカ
      %li.code
        セキュリティコード：111
      .seller
        出品者用
      %ul
      %li.seller-mail
        メールアドレス名：yamada@gmail.com
        %li.seller-password パスワード：yamada123
      .charge
        担当箇所
      %ul
      %li.signin
        ログインページの作成
        %br
        %a{href: "http://18.176.74.241/users/sign_in", class: "saignin-url"} http://18.176.74.241/users/sign_in
      %li.signout
        ログアウトページの作成
        %br 
        %a{href: "http://18.176.74.241/users/signout", class: "signout-url"} http://18.176.74.241/users/signout
      %li.sidebar
        部分テンプレートによるサイドバーの作成
        %br
        %a{href: "http://18.176.74.241/users/signout", class: "sidebar-url"} http://18.176.74.241/users/signout
      .note
        ※ログアウトページとサイドバーは一度ログインして頂かないと
        %br ご覧になれません。
      .period
        開発期間：約3週間
      .agile
        アジャイル型開発（スクラム）
      .trello
        Trelloによるタスク管理
#profile-text
.profile 
  .profile-main
    .profile-font
      Profile
    .name
      名前：西本 有希
    .birthday
      生年月日：1993年4月9日
    .hobby
      趣味：ベースを弾くこと、バンド活動
    .language-box
      .language
        言語
      .language-skill
        %ul
        %li.language-html
          HTML（haml）
          %li.language-html-css
            CSS（scss）
            %li.language-html-ruby
              Ruby
              %li.language-html-javascript
                JavaScript（jQuery）
    .skill
      .framework
        フレームワーク：Ruby on Rails
      .database
        データベース：MySQL
      .tool
        ツール：Github
        %a{href: "https://github.com/yuuuuuukiiiiii", class: "account"} （アカウント：yuuuuuukiiiiii）
      .os
        OS：mac