// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}
.home-main {
  height: 100vh;
  width: 100vw;
  background-image: url(portfolio.jpg);  
}
.header {
  height: 730px;
}
.home-portfolio {
  height: 100vh;
  background: rgba(255,255,255,0.5);
}
.portfolio {
  font-size: 30px;
  color: rgb(117, 218, 117);
  text-align: center;
  line-height: 730px;
  letter-spacing: 10px;
  font-weight: bolder;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  text-shadow: 1px 0 black, 0 1px black, 2px 1px black, 1px 2px black, 3px 2px black, 2px 3px black, 4px 3px black, 3px 4px black, 5px 4px black, 4px 5px black, 6px 5px black, 5px 6px black, 7px 6px black, 6px 7px black, 8px 7px black, 7px 8px black, 9px 8px black, 8px 9px black, 10px 9px black, 9px 10px black, 11px 10px black, 10px 11px black, 12px 11px black, 11px 12px  black, 13px 12px black, 12px 13px black, 14px 13px black, 13px 14px black;
}
.footer {
  height: calc(100vh - 730px);
  width: 100vw;
  background-color: #FFEFD5;
  position: fixed;
  z-index: 1;
}
.footer-list li {
  list-style: none;
  display:  inline-block;
}
.home { 
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  line-height: calc(100vh - 730px);
  margin-left: 200px;
}
.home2 {
  text-decoration: none;
  color: black;
}
.application-text {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  position: relative;
  left: 250px;
  text-decoration: none;
  color: black;
}
.application-text2 {
  text-decoration: none;
  color: black;
}
.team-development-text {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  position: relative;
  left: 500px;
  text-decoration: none;
  color: black;
}
.team-development-text2 {
  text-decoration: none;
  color: black;
}
.profile-text {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  position: relative;
  left: 750px;
  text-decoration: none;
  color: black;
}
.profile-text2 {
  text-decoration: none;
  color: black;
}



.application {
  height: 100vh;
  width: 100vw;
  background-color: #CC0000;
}
.application-main {
  height: 730px;
}
.circle {
  height: 150px;
  width: 100vw;
  // background-color: pink;
  text-align: center;
}
.a-circle {
  height: 130px;
  width: 130px;
  background-color: #86F9C5;
  border-radius: 50%;
  display:  inline-block;
  margin-top: 10px;
  filter: drop-shadow(0 0 10px #86F9C5);
}
.a-font {
  line-height: 130px;
  font-weight: bold;
  font-size: 50px;
}
.p-circle {
  height: 110px;
  width: 110px;
  background-color: #FFABCE;
  border-radius: 50%;
  display:  inline-block;
  filter: drop-shadow(0 0 10px #FFABCE);
}
.p-font {
  line-height: 110px;
  font-weight: bold;
  font-size: 50px;
}
.p-circle2 {
  height: 130px;
  width: 130px;
  background-color: #86F9C5;
  border-radius: 50%;
  display:  inline-block;
  filter: drop-shadow(0 0 10px #86F9C5);
}
.p-font2 {
  line-height: 130px;
  font-weight: bold;
  font-size: 50px;
}
.l-circle {
  height: 110px;
  width: 110px;
  background-color: #FFABCE;
  border-radius: 50%;
  display:  inline-block;
  filter: drop-shadow(0 0 10px #FFABCE);
}
.l-font {
  line-height: 110px;
  font-weight: bold;
  font-size: 50px;
}
.i-circle {
  height: 130px;
  width: 130px;
  background-color: #86F9C5;
  border-radius: 50%;
  display:  inline-block;
  filter: drop-shadow(0 0 10px #86F9C5);
}
.i-font {
  line-height: 130px;
  font-weight: bold;
  font-size: 50px;
}
.c-circle {
  height: 110px;
  width: 110px;
  background-color: #FFABCE;
  border-radius: 50%;
  display:  inline-block;
  filter: drop-shadow(0 0 10px #FFABCE);
}
.c-font {
  line-height: 110px;
  font-weight: bold;
  font-size: 50px;
}
.a-circle2 {
  height: 130px;
  width: 130px;
  background-color: #86F9C5;
  border-radius: 50%;
  display:  inline-block;
  filter: drop-shadow(0 0 10px #86F9C5);
}
.a-font2 {
  line-height: 130px;
  font-weight: bold;
  font-size: 50px;
}
.t-circle {
  height: 110px;
  width: 110px;
  background-color: #FFABCE;
  border-radius: 50%;
  display:  inline-block;
  filter: drop-shadow(0 0 10px #FFABCE);
}
.t-font {
  line-height: 110px;
  font-weight: bold;
  font-size: 50px;
}
.i-circle2 {
  height: 130px;
  width: 130px;
  background-color: #86F9C5;
  border-radius: 50%;
  display:  inline-block;
  filter: drop-shadow(0 0 10px #86F9C5);
}
.i-font2 {
  line-height: 130px;
  font-weight: bold;
  font-size: 50px;
}
.o-circle {
  height: 110px;
  width: 110px;
  background-color: #FFABCE;
  border-radius: 50%;
  display:  inline-block;
  filter: drop-shadow(0 0 10px #FFABCE);
}
.o-font {
  line-height: 110px;
  font-weight: bold;
  font-size: 50px;
}
.n-circle {
  height: 130px;
  width: 130px;
  background-color: #86F9C5;
  border-radius: 50%;
  display:  inline-block;
  filter: drop-shadow(0 0 10px #86F9C5);
}
.n-font {
  line-height: 130px;
  font-weight: bold;
  font-size: 50px;
}
.app-description {
  color: white;
  font-weight: bold;
  margin-left: 150px;
  font-size: 25px;
  margin-top: 30px;
}
.app-description-text {
  color: white;
  font-weight: bold;
  margin-left: 150px;
  font-size: 20px;
  margin-top: 10px;
}
.app-description-text2 {
  color: white;
  font-weight: bold;
  margin-left: 150px;
  font-size: 20px;
  margin-top: 10px;
}
.ingenuity {
  color: white;
  font-weight: bold;
  margin-left: 150px;
  font-size: 25px;
  margin-top: 30px;
}
.ingenuity-text {
  color: white;
  font-weight: bold;
  margin-left: 150px;
  font-size: 20px;
  margin-top: 10px;
}
.struggle {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 150px;
}
.struggle-text {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 150px;
}



.team-development {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.team-development-main {
  height: 730px;
}
.triangle {
  border-top: 50px solid;
  border-bottom: 50px solid;
  border-left: 500px solid #0000BB;
  margin-left: 100px;
  position: relative;
  top: 30px;
}
.team-development-font {
  color: white;
  position: relative;
  bottom: 65px;
  font-size: 60px;
  font-weight: bold;
  margin-left: 150px;
}
.mercari {
  color: white;
  margin-left: 20px;
  font-size: 20px;
}
.mercari-ingenuity {
  color: white;
  margin-left: 20px;
  font-size: 22px;
  margin-top: 30px;
  border: 2px solid white;
  display:  inline-block;
  padding: 5px;
}
.mercari-ingenuity-text {
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 18px;
  line-height: 40px;
}
.mercari-struggle {
  color: white;
  margin-left: 20px;
  font-size: 22px;
  margin-top: 30px;
  border: 2px solid white;
  display:  inline-block;
  padding: 5px;
}
.mercari-struggle-text {
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 18px;
  line-height: 40px;
}
.content {
  height: 680px;
  width: 500px;
  background-color: white;
  position: relative;
  bottom: 790px;
  margin-left: 900px;
}
.content-font {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.id-pass {
  margin-left: 10px;
  margin-top: 10px;
}
.test-account {
  margin-left: 10px;
  font-weight: bold;
}
.buyer {
  margin-left: 10px;
  border: 1px solid black;
  display:  inline-block;
  padding: 0 5px;
}
.buyer-mail {
  margin-left: 10px;
}
.password {
  margin-left: 10px;
}
.number {
  margin-left: 10px;
}
.deadline {
  margin-left: 10px;
}
.user-name {
  margin-left: 10px;
}
.code {
  margin-left: 10px;
}
.seller {
  margin-left: 10px;
  margin-top: 5px;
  border: 1px solid black;
  display:  inline-block;
  padding: 0 5px;
}
.seller-mail {
  margin-left: 10px;
}
.seller-password {
  margin-left: 10px;
}
.charge {
  margin-left: 10px;
  font-weight: bold;
  margin-top: 10px;
}
.signin {
  margin-left: 10px;
}
.saignin-url {
  margin-left: 10px;
}
.signout {
  margin-left: 10px;
}
.signout-url {
  margin-left: 10px;
}
.sidebar {
  margin-left: 10px;
}
.sidebar-url {
  margin-left: 10px;
}
.note {
  margin-left: 10px;
}
.period {
  margin-left: 10px;
  margin-top: 10px;
}
.agile {
  margin-left: 10px;
}
.trello {
  margin-left: 10px;
}



.profile {
  height: 100vh;
  width: 100vw;
  background-color: #CC0000;
}
.profile-main {
  height: 730px;
}
.profile-font {
  font-weight: bold;
  transform: rotate(-10deg);
  font-family: Times New Roman,"ＭＳ Ｐゴシック";
  font-size: 80px;
  position: relative;
  bottom: 80px;
  margin-left: 40px;
}
.name {
  margin-left: 100px;
  margin-top: 100px;
  font-weight: bold;
  font-size: 25px;
}
.birthday {
  margin-left: 100px;
  margin-top: 100px;
  font-weight: bold;
  font-size: 25px;
}
.hobby {
  margin-left: 100px;
  margin-top: 100px;
  font-weight: bold;
  font-size: 25px;
}
.language-box {
  height: 30px;
  width: 80px;
  background-color: #00CC33;
  float: right;
  position: relative;
  bottom: 420px;
  margin-right: 400px;
}
.language {
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}
.language-skill {
  height: 200px;
  width: 300px;
  background-color: white;
  position: relative;
  right: 110px;
}
.language-html {
  margin-left: 20px;
  line-height: 40px;
  padding-top: 15px;
}
.language-html-css {
  margin-left: 20px;
  line-height: 40px;
}
.language-html-ruby {
  margin-left: 20px;
  line-height: 40px;
}
.language-html-javascript {
  margin-left: 20px;
  line-height: 40px;
}
.skill {
  height: 320px;
  width: 550px;
  line-height: 80px;
  margin-left: 850px;
  position: relative;
  bottom: 140px;
}
.framework {
  white-space: nowrap;
  font-size: 20px;
  font-weight: bold;
}
.database {
  font-size: 20px;
  font-weight: bold;
}
.tool {
  font-size: 20px;
  font-weight: bold;
}
.account {
text-decoration: none;
color: black;
font-size: 20px;
font-weight: bold;
}
.os {
  font-size: 20px;
  font-weight: bold;
}